.app-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

button {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}